GOOGLE_API_KEY='AQ.Ab8RN6L_zHiwwwXRLb2r7YIFQCTARgtufHKcZ9FFmJyyYh8WMQ'
LANGSMITH_API_KEY='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'
LANGCHAIN_PROJECT='SeshuNukalaGenAgenticAI'
LANGCHAIN_TRACING_V2="true"
weatherAPIKey = ""
OPENAI_API_KEY='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'
PINECONE_API_KEY='pcsk_3ytB1X_37uufpczZ2mvFt2pVjXLYeAXzfzBzftJ8oy4sxK3haeMFwsYhKocE24KbTasYbd'
HF_TOKEN=""
TOKENIZERS_PARALLELISM = 'false'
GROQ_API_KEY='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'
